html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #203647;
    color: #EEFBFB;
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-area: 1 / 1 / 1 span 3;
}

#main-nav {
    grid-area: 2 / 1 / 2 / span 3;
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
}

.nav-link {
    text-align: center;
    text-decoration: none;
    color: #EEFBFB;
    background-color: #12232E;
    padding: 25px 5px;
    width: 100%;
    transition: all 0.4s linear 0.2ms;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #007CC7;
}

main {
    grid-area: 3 / 2 / 3 / 2;
}

/* buttons/links (styled as buttons */
.button {
    text-align: center;
    background-color: #007CC7;
    width: 250px;
    padding: 30px 0;
    text-decoration: none;
    color: #EEFBFB;
    transition: all 0.4s linear 0.2ms;
    cursor: pointer;
    margin: 0 0 100px 0;
}

.button:hover {
    background-color: #4DA8DA;
}

footer {
    grid-area: 4 / 1 / 4 / span 3;
    background-color: #12232E;
    color: #FFF;
    text-align: center;
    padding: 20px 10px;
    line-height: 40%;
}

.footer-link {
    color: #FFF;
    text-decoration: none;
}

.footer-image {
    width: 50px;
    height: 50px;
    padding: 0.5em 10px;
}

@media only screen and (max-width: 720px) {
    .container {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
    }

    #main-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 20px 0;
    }

    main {
        padding: 20px;
    }
}

@media only screen and (min-width: 1700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    #welcome-section {
        margin: 10vw 0 10vw 0;
        font-size: 6vw;
    }
}
